venv_build
build
__pycache__
labeled-data
Display
comparison_frames
calibration.ipynb
calibration.py
send.py
rodenz_config.py
triangulator.ipynb
main.py
requirements.txt
inferred_constraints.json
data
rodenz_config.json
anipose.ipynb
tester.py
evaluate-data
evaluation.txt
metric_4cam
.vscode